/* Global styles */
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('images/homepagepic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  background: #333; opacity: 0.8; filter: alpha(opacity=80);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Navigation menu styles */
nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

nav ul li a:hover {
  background-color: #555;
}

/* Main */
main {
  padding: 20px;
  text-align: center;
}

.banner {
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.registration {
  display: inline-block;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: transparent;
  
}

.registration h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.registration form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration .form-row {
  margin-bottom: 10px;
}

.registration label {
  display: block;
  margin-bottom: 5px;
}

.registration input[type="text"],
.registration input[type="email"],
.registration input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.registration button[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registration button[type="submit"]:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #333; opacity: 0.5; filter: alpha(opacity=50)
}
